.menu{
    background-color: #dedede;
    padding: 5px;
}

.login-page{
    background-size: cover;
    background: url("../img/background.jpg") no-repeat fixed;
    width: auto;
    height: auto;
}

.login{
    background-color: rgba(41, 65, 96, 0.8);
    color: #969696;
    margin-top: 300px;
    padding: 30px;
}

.debug li{
    display: none;
    color: white;
}

@media(max-width: 420px) {
    .login{
        margin-top: 10px;
    }

    .login-page{
        background: url("../img/background.jpg") 68% 19%;
    }

    .debug li._128{
        display: inline;
    }
}

@media(min-width: 420px) {
    .login{
        margin-top: 30px;
    }

    .login-page{
        background: url("../img/background.jpg") 75% 15%;
    }

    .debug li._420{
        display: inline;
    }
}

/* Until 512 */
@media(max-width: 512px) {
    .login{
        margin-top: 2%;
        margin-left: 2% !important;
        width: 96% !important;
    }
}

@media(min-width: 512px) {
    .login-page{
        background: url("../img/background.jpg") 65% 15%;
    }
}

@media(min-width: 768px) {
    .login{
      margin-top: 100px;
    }

    .login-page{
        background: url("../img/background.jpg") 55% 15%;
    }
}

@media(min-width: 992px) {
    .login{
        margin-top: 150px;
    }

    .login-page{
        background: url("../img/background.jpg") 45% 15%;
    }
}

@media(min-width: 1200px) {
    .login{
        margin-top: 200px;
    }

    .login-page{
        background: url("../img/background.jpg") 35% 15%;
    }
}
